body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Roboto;
    align-items: stretch;
    min-height: 100vh
}
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
div{
    flex-wrap: wrap;
}
.Container{
    width: 100%;
}
.img-header-two{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border: solid;
    border-color: #3882F6;
    border-radius: 5px;
    align-self: center;
}
.Container#one{
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    gap: 100px;  
}
.Container#two{
    display: flex;
    flex-direction: column;
    gap: 100px; 
}
#Header-Two-P{
    font-size: 36px;
    justify-self: center;
    font-weight: 900;
    color: #1F2937;
}
.Header-One{
    display: flex;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
    justify-content: space-between;
}
.Header-Logo{
    color: #e5e7eb;
}
.Header-Link{
    margin: 12px;
}
.Image-Text-Cotainer-Four{
    display: flex;
    align-items: center;
    margin-left: 100px ;
    justify-content: space-evenly;
    margin-right: 100px;
    margin-bottom: 50px;
    margin-top: 50px;
}
.Image-Subtext-Container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 125px;
}
.Header-Logo{
    margin: 12px;
}
p{
    text-align: center;
}
a{
   font-size: 18px;
   color: #e5e7eb; 
}
.Sign-Up-Info-Div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 450px;
}

.Header-Two{
    display: flex;;
    justify-content: center;
    align-self: center;
    margin-bottom: 100px;
    margin-left: 50px;
    margin-right: 50px;
    gap: 50px;
}
.Sign-Up-Info.Placeholder{
    display: flex;
    align-items: center;
    justify-content: center;
}
#Sign-Up-Info-Header{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0px;
}
#img-header-two{
    width: 450px;
}
.Sign-Up-Info.Paragraph{
 font-size: 18px;
 color: #F9FAF8;
 flex-wrap: wrap;
}
.Button.Sign-Up-Info{
    background-color: #3882F6;
    border: none;
    border-radius: 10px;
    color: #F9FAF8;
    font-weight: 1000;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
}
.Container#three{
    background-color: #e5e7eb;
}
.Container#three #Quote-Text{
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    display: inline;
}
.Container#three #Quoted{
    font-size: 24px;
    font-style: normal;
    font-weight: bold;
    display: inline;
    margin-top: 100px;
    margin-left: 25px;
}
.Quote-Container{
    margin: 100px 100px;
}
.Container#four{
    display: flex;
    align-items: center;
    justify-content: center;
}
.Call-To-Action{
    margin: 25px;
    display: flex;
    background-color: #3882F6;
    align-items: center;
    padding: 10px 20px;
    border-radius: 10px;
}
#Call-To-Action-Paragraph{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0px
}
.Call-To-Action-p2,.Call-To-Action-p1{
    margin: 0px;
    color: white;
}
.Call-To-Action-p1{
    font-size: 18px;
    font-weight: bolder;
}
#Call-To-Action-Button{
    color: white;
    border: solid;
    border-color: white;
    border-radius: 10px;
    background-color: #3882F6;
    padding: 5px 25px;
}
.Container#five{
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    padding: 25px 0px;
}